<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/Main.css">
</head>
<header>
    <div class = "defaultLogo">
            
            <a href="../../public/index.php">
            <img src="../images/main_logo.png" width="299px" height="251px"
            style="opacity: 0.85;">
            </a>

    </div>
        
    <div class="flexLinks">
            <a href="#"target="_self" class="indexLink">
                <p>About Us</p>
            </a>
            <a href="#" target="_self" class="indexLink">
                <p>Contact Us</p>
            </a>
            <a href="productsPage.php" target="_self" class="indexLink">
                <p>Shop Now</p>
            </a>
            <a href="signup.php" target="_self" class="indexLink">
                <p>Sign Up</p>
            </a>
            <a href="login.php" target="_self" class="indexLink">
                <p>Account Log In</p>
            </a>
    </div>
</header>
</html>