#defaultLogo{
    background-image: url('../images/background_logo.png');
    background-repeat: no-repeat;
    width:100%; height:5%;
    background-size:100% 100%;
    opacity: 0.89;
    margin: 0;
    display:flex; justify-content: center;
}