div.flexLinks{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width:100%; height:100%;
}
a.flexLinks{
    padding-left: 21px;
    padding-right: 21px;
}