.flexLinks{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width:100%; height:100%;
}
.indexLink{
    padding-left: 21px;
    padding-right: 21px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.indexLink:hover{
    background-color: #D47C17;
}