/*
Contains main colours of each page,
class for the logo and background image display
class for nav bar with links to each page
*/

/*main colour scheme*/
body{
    background-color: #070707;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

/*logo and background image*/
.defaultLogo{
    background-image: url('../images/background_logo.png');
    background-repeat: no-repeat;
    width:100%; height:5%;
    background-size:100% 100%;
    opacity: 0.89;
    margin: 0;
    display:flex; justify-content: center;
}

/*nav bar and links*/
.flexLinks{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width:100%; height:100%;
}
.indexLink{
    padding-left: 21px;
    padding-right: 21px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.indexLink:hover{
    background-color: #D47C17;
}